.image{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.title{
    color: grey;
    font-size: 22px;
}

.kelvin{
    text-transform: capitalize;
    color: black;
    font-size: 30px ;
}

.main{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.graph{
    color: grey;
    font-size: 22px;
}

.helen{
    text-transform: capitalize;
    color: black;
    font-size: 30px;
}

.dam{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.ozi{
    color: gray;
    font-size: 22px;
}

.ozy{
    text-transform: capitalize;
    color: black;
    font-size: 30px;
}

.merit{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.meri{
    color: black;
    font-size: 30px;
}

.mer{
    text-transform: capitalize;
    color: gray;
    font-size: 22px;
}

.chi{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto ;
    text-align: center;
}

.chiam{
    color: black;
    font-size: 30px;
}

.chia{
    text-transform: capitalize;
    color: gray;
    font-size: 22px;
}

.school{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.scho{
    color: black;
    font-size: 30px;
}

.sch{
    text-transform: capitalize;
    color: gray;
    font-size: 22px;
}

.dem{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.de{
    color: black;
    font-size: 30px;
}

.dm{
    text-transform: capitalize;
    color: gray;
    font-size: 22px;
}

.dat{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.da{
    color: black;
    font-size: 30px;
}

.dt{
    text-transform: capitalize;
    color: gray;
    font-size: 22px;
}

.multi{
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2) ;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.mult{
    color: black;
    font-size: 30px;
}

.mul{
    text-transform: capitalize;
    color: gray;
    font-size: 22px;
}

.rotra{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.rotr{
    color: black;
    font-size: 30px;
}

.rot{
    text-transform: capitalize;
    color: gray;
    font-size: 22px;
}





